# PyCity Schools Analysis

Trend 1 Regardless of School Type, high school students perform better on Reading than Math.

Trend 2 Charter School overall have better performance than District School.

Trend 3 When comparing to large size school, small size school have higher passing percentage rate.

# Part I

In [1]:
# Import Pandas module
import pandas as pd

In [2]:
# load CSV
schools = "schools_complete.csv"
students = "students_complete.csv"

In [3]:
# Read with pandas--low_memory required to suppress errors about mixed data types
schools_pd = pd.read_csv(schools, encoding='iso-8859-1', low_memory=False)

In [4]:
# Read with pandas--low_memory required to suppress errors about mixed data types/student csv
students_pd= pd.read_csv(students, encoding='iso-8859-1', low_memory=False)

In [5]:
# Inspect all columns for schools
schools_pd.columns

Index(['School ID', 'name', 'type', 'size', 'budget'], dtype='object')

In [6]:
#rename school csv column
schools_pd = schools_pd.rename(columns={"name":"School Name",
                                       "type":"School Type",
                                       "size":"School Size",
                                       "budget":"Budget"})
schools_pd.columns

Index(['School ID', 'School Name', 'School Type', 'School Size', 'Budget'], dtype='object')

In [7]:
# Inspect all columns for students
students_pd.columns

Index(['Student ID', 'name', 'gender', 'grade', 'school', 'reading_score',
       'math_score'],
      dtype='object')

In [8]:
#rename student csv column
students_pd = students_pd.rename(columns={"name":"Student Name",
                                       "gender":"Gender",
                                       "grade":"Grade",
                                       "school":"School Name",
                                       "reading_score":"Reading Score",
                                        "math_score":"Math Score"})
students_pd.columns

Index(['Student ID', 'Student Name', 'Gender', 'Grade', 'School Name',
       'Reading Score', 'Math Score'],
      dtype='object')

In [9]:
# Performing an inner merge on the two dataframes, using the "School Name" field
inner_merge_df = pd.merge(schools_pd, students_pd, on="School Name")
inner_merge_df.head()

,School ID,School Name,School Type,School Size,Budget,Student ID,Student Name,Gender,Grade,Reading Score,Math Score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [10]:
#total school count in District
type_df = inner_merge_df.groupby("School Type")
d_school_df = type_df["School Name"].nunique()
d_school_df

School Type
Charter     8
District    7
Name: School Name, dtype: int64

In [11]:
# total students in district school
inner_merge_df['School Type'].value_counts()

District    26976
Charter     12194
Name: School Type, dtype: int64

In [12]:
# count number of total students
inner_merge_df['Student Name'].count()

39170

In [13]:
# Calculate the number of unique schools in the DataFrame
school_count = len(inner_merge_df['School Name'].unique())
school_count

15

In [14]:
# Show only District type school
District = "District"
district_school_df = inner_merge_df.loc[inner_merge_df["School Type"] == District]
district_school_df.head()

,School ID,School Name,School Type,School Size,Budget,Student ID,Student Name,Gender,Grade,Reading Score,Math Score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [15]:
# Calculate total budget
total_d_budget=district_school_df['Budget'].unique().sum()
total_d_budget

17347923

In [16]:
# Calculate total district school
u_district_school_df=len(district_school_df['School Name'].value_counts())
u_district_school_df

7

In [17]:
# Calculate average reading score
average_Reading_Score = district_school_df['Reading Score'].mean()
average_Reading_Score

80.96248517200475

In [18]:
# Calculate average math score
average_Math_Score = district_school_df['Math Score'].mean()
average_Math_Score

76.98702550415184

In [19]:
# Calculate how many student
total_student = district_school_df["Reading Score"].count()
print(total_student)

26976

In [20]:
# Calculate number of student passing reading
percentage_r=(district_school_df["Reading Score"] >=70).value_counts()
percentage_r

True     21825
False     5151
Name: Reading Score, dtype: int64

In [21]:
# change it into dataframe
percentage_rd = pd.DataFrame(percentage_r)
percentage_rd1=percentage_rd.reset_index()
pass_r=percentage_rd1.drop(percentage_rd1.index[1])
pass_r

   index  Reading Score
0   True          21825

In [22]:
#define number of passing student
pass_num=21825
print(pass_num)

21825

In [23]:
# Calculate percentage of student passing reading
passing_percentage_r=(pass_num/total_student)*100
passing_percentage_r

80.905249110320284

In [24]:
# Calculate number of student passing Math
percentage_m=(district_school_df["Math Score"] >=70).value_counts()
percentage_m

True     17944
False     9032
Name: Math Score, dtype: int64

In [25]:
# change it into dataframe
percentage_md = pd.DataFrame(percentage_m)
percentage_md1=percentage_md.reset_index()
pass_m=percentage_md1.drop(percentage_md1.index[1])
pass_m

   index  Math Score
0   True       17944

In [26]:
#define number of passing student
pass_num_m=17944
print(pass_num_m)

17944

In [27]:
# Calculate percentage of student passing math
passing_percentage_m=(pass_num_m/total_student)*100
passing_percentage_m

66.518386714116247

In [28]:
# Calculate overalll passing percentage
overall_percentage=(passing_percentage_r+passing_percentage_m)/2
overall_percentage

73.711817912218265

In [29]:
# Create a new table consolodating above calculations
district_summary = pd.DataFrame({"Total School": [u_district_school_df],
                                   "Total Student": [total_student],
                                   "Total Budget": [total_d_budget],
                                   "Avg. Math Score": [average_Math_Score],
                                   "Avg. Reading Score": [average_Reading_Score],
                                   "% Passing Math":[passing_percentage_m],
                                   "% Passing Reading":[passing_percentage_r],
                                   "% Overall Passing Rate": [overall_percentage]
})
district_summary = district_summary[["Total School", 
                                         "Total Student", 
                                         "Total Budget", 
                                         "Avg. Math Score", 
                                         "Avg. Reading Score", 
                                         "% Passing Math", 
                                         "% Passing Reading",
                                         "% Overall Passing Rate"]]
district_summary = district_summary.round(2)

# Disctrict Summary

In [30]:
# Improve formatting before outputting spreadsheet
district_summary["Total Budget"] = district_summary["Total Budget"].map("${0:,.0f}".format)
district_summary

,Total School,Total Student,Total Budget,Avg. Math Score,Avg. Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,7,26976,"$17,347,923",76.99,80.96,66.52,80.91,73.71

# Part II

In [31]:
# load only specific columns
cut_school_df=inner_merge_df.iloc[:,1:5]

In [32]:
# remove duplicates on row
total_school_df=cut_school_df.drop_duplicates(['School Name'], keep='last')

In [33]:
# Check Cloumn Index
total_school_df.columns

Index(['School Name', 'School Type', 'School Size', 'Budget'], dtype='object')

In [34]:
# Rename Cloumn Index
total_school_df = total_school_df.rename(columns={'Budget':'Total School Budget'
                                       })
total_school_df.columns

Index(['School Name', 'School Type', 'School Size', 'Total School Budget'], dtype='object')

In [35]:
# Reset index
total_school_df = total_school_df.reset_index(drop=True)

In [36]:
# Calculate Per Student Budget
total_school_df['Per Student Budget'] = (total_school_df['Total School Budget'] / total_school_df['School Size'])

In [37]:
# Calculate Mean and Reset index for Reading 
high_school_df = inner_merge_df.groupby("School Name")
sum_reading_school_df = pd.DataFrame(high_school_df["Reading Score"].mean())
sum_reading_school_df = sum_reading_school_df.reset_index()

In [38]:
# Calculate Mean and Reset index for Math
high_school_df = inner_merge_df.groupby("School Name")
sum_math_school_df = pd.DataFrame(high_school_df["Math Score"].mean())
sum_math_school_df = sum_math_school_df.reset_index()

In [39]:
# Join AVG Reading and Math score table
new_school_merge_df = pd.merge(total_school_df, sum_reading_school_df, on="School Name")

In [40]:
# Join AVG Reading and Math score table
new2_school_merge_df = pd.merge(new_school_merge_df, sum_math_school_df, on="School Name")

In [41]:
# Count pass score >= 70
percentage_r_all=(inner_merge_df['Reading Score'] >=70).value_counts()
percentage_r_all

True     33610
False     5560
Name: Reading Score, dtype: int64

In [42]:
# Count pass score >= 70
percentage_m_all=(inner_merge_df["Math Score"] >=70).value_counts()
percentage_m_all

True     29370
False     9800
Name: Math Score, dtype: int64

In [43]:
# Group by School Name
new_df= inner_merge_df.groupby("School Name")
total_unique = pd.DataFrame(new_df["Math Score"].value_counts())

In [44]:
#rename
math_work = total_unique.rename(columns={"Math Score":"Num of Student"})

In [45]:
#reset index
math_work = math_work.reset_index()

In [46]:
#Sum of passing student per school
pass_0 = math_work[math_work['Math Score']>=70].groupby(['School Name']).sum()

In [47]:
#Drop column and reset index
pass_01=pass_0.drop('Math Score', axis=1)
pass_02=pass_01.reset_index()

In [48]:
#Merge Table
new3_school_merge_df = pd.merge(new2_school_merge_df, pass_02, on="School Name")

In [49]:
# Calculate %Passing and create new column
new3_school_merge_df['% Passing Math'] = (new3_school_merge_df['Num of Student'] / new3_school_merge_df['School Size'])*100

In [50]:
# Group by School Name
new_df= inner_merge_df.groupby("School Name")
total_unique_r = pd.DataFrame(new_df["Reading Score"].value_counts())

In [51]:
# rename, reset index and sum of passing student per school
reading_work = total_unique_r.rename(columns={"Reading Score":"Num of Student_R"})
reading_work = reading_work.reset_index()
rpass_0 = reading_work[reading_work['Reading Score']>=70].groupby(['School Name']).sum()

In [52]:
# drop column, reset index and merge new table
rpass_01=rpass_0.drop('Reading Score', axis=1)
rpass_02=rpass_01.reset_index()
new4_school_merge_df = pd.merge(new3_school_merge_df, rpass_02, on="School Name")

In [53]:
# Calculate %Passing and create new column
new4_school_merge_df['% Passing Reading'] = (new4_school_merge_df['Num of Student_R'] / new4_school_merge_df['School Size'])*100

In [54]:
# Calculate overall %Passing and create new column
new4_school_merge_df['% Overall Passing'] = ((new4_school_merge_df['% Passing Math']+new4_school_merge_df['% Passing Reading'])/2)

In [55]:
# Rename Column
new5_school_merge_df = new4_school_merge_df.rename(columns={"Reading Score":"Average Reading Score",
                                       "Math Score":"Average Math Score"})
new5_school_merge_df.columns

Index(['School Name', 'School Type', 'School Size', 'Total School Budget',
       'Per Student Budget', 'Average Reading Score', 'Average Math Score',
       'Num of Student', '% Passing Math', 'Num of Student_R',
       '% Passing Reading', '% Overall Passing'],
      dtype='object')

In [56]:
# Drop Column
school_01=new5_school_merge_df.drop('Num of Student', axis=1)
school_02=school_01.drop('Num of Student_R', axis=1)

# School Summary

In [57]:
# School Summary
school_02.set_index('School Name')

,School Type,School Size,Total School Budget,Per Student Budget,Average Reading Score,Average Math Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Huang High School,District,2917,1910635,655.0,81.182722,76.629414,65.683922,81.316421,73.500171
Figueroa High School,District,2949,1884411,639.0,81.158020,76.711767,65.988471,80.739234,73.363852
Shelton High School,Charter,1761,1056600,600.0,83.725724,83.359455,93.867121,95.854628,94.860875
Hernandez High School,District,4635,3022020,652.0,80.934412,77.289752,66.752967,80.862999,73.807983
Griffin High School,Charter,1468,917500,625.0,83.816757,83.351499,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201,93.867718,96.539641,95.203679
Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895,94.133477,97.039828,95.586652
Bailey High School,District,4976,3124928,628.0,81.033963,77.048432,66.680064,81.933280,74.306672
Holden High School,Charter,427,248087,581.0,83.814988,83.803279,92.505855,96.252927,94.379391
Pena High School,Charter,962,585858,609.0,84.044699,83.839917,94.594595,95.945946,95.270270
Wright High School,Charter,1800,1049400,583.0,83.955000,83.682222,93.333333,96.611111,94.972222
Rodriguez High School,District,3999,2547363,637.0,80.744686,76.842711,66.366592,80.220055,73.293323
Johnson High School,District,4761,3094650,650.0,80.966394,77.072464,66.057551,81.222432,73.639992
Ford High School,District,2739,1763916,644.0,80.746258,77.102592,68.309602,79.299014,73.804308
Thomas High School,Charter,1635,1043130,638.0,83.848930,83.418349,93.272171,97.308869,95.290520

# Part III

# Top Performing Schools (By Passing Rate)

In [58]:
# set index to School Name
result = school_02.set_index('School Name')

In [59]:
# sorting
top_result = result.sort_values(by='% Overall Passing', ascending=0)
top_result.head()

,School Type,School Size,Total School Budget,Per Student Budget,Average Reading Score,Average Math Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,1043130,638.0,83.848930,83.418349,93.272171,97.308869,95.290520
Pena High School,Charter,962,585858,609.0,84.044699,83.839917,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,917500,625.0,83.816757,83.351499,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201,93.867718,96.539641,95.203679

# Bottom Performing Schools (By Passing Rate)

In [60]:
# sorting
bottom_result = result.sort_values(by='% Overall Passing')
bottom_result.head()

,School Type,School Size,Total School Budget,Per Student Budget,Average Reading Score,Average Math Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,80.744686,76.842711,66.366592,80.220055,73.293323
Figueroa High School,District,2949,1884411,639.0,81.158020,76.711767,65.988471,80.739234,73.363852
Huang High School,District,2917,1910635,655.0,81.182722,76.629414,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650,650.0,80.966394,77.072464,66.057551,81.222432,73.639992
Ford High School,District,2739,1763916,644.0,80.746258,77.102592,68.309602,79.299014,73.804308


# Reading Scores by Grade

In [61]:
# Group by
new2_df= inner_merge_df.groupby(["School Name","Grade"])
total_unique_r1 = pd.DataFrame(new2_df["Reading Score"].mean())

In [62]:
# reset index
total_unique_r2=total_unique_r1.reset_index()

In [63]:
# change row and column
total_unique_r3 = total_unique_r2.pivot_table('Reading Score', ['School Name'], 'Grade')

In [64]:
# rearrange column
cols = total_unique_r3.columns.tolist()
cols

['10th', '11th', '12th', '9th']

In [65]:
# rearrange column
cols = cols[-1:] + cols[:-1]
cols

['9th', '10th', '11th', '12th']

In [66]:
# Reading Scores by Grade
total_unique_r3= total_unique_r3[cols]
total_unique_r3

Grade                        9th       10th       11th       12th
School Name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

# Math Scores by Grade

In [67]:
# Group by, calculate mean, reset index, change column and row, rearrange column
new2_df= inner_merge_df.groupby(["School Name","Grade"])
total_unique_m1 = pd.DataFrame(new2_df["Math Score"].mean())
total_unique_m2 = total_unique_m1.reset_index()
total_unique_m3 = total_unique_m2.pivot_table('Math Score', ['School Name'], 'Grade')
cols = total_unique_m3.columns.tolist()
cols = cols[-1:] + cols[:-1]
total_unique_m3= total_unique_m3[cols]
total_unique_m3

Grade                        9th       10th       11th       12th
School Name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

# Scores by School Spending

In [68]:
# Rename
Spending= result.rename(columns={"Per Student Budget":"Budget(Per Student)"})

In [69]:
# Create bins and bin labels for the Budget column

hp_bins = [0,585, 615, 645, 675]
hp_labels = ["<$585", "$585-615", "$615-645", "$645-675"]
pd.cut(Spending["Budget(Per Student)"], hp_bins, labels=hp_labels)

School Name
Huang High School        $645-675
Figueroa High School     $615-645
Shelton High School      $585-615
Hernandez High School    $645-675
Griffin High School      $615-645
Wilson High School          <$585
Cabrera High School         <$585
Bailey High School       $615-645
Holden High School          <$585
Pena High School         $585-615
Wright High School          <$585
Rodriguez High School    $615-645
Johnson High School      $645-675
Ford High School         $615-645
Thomas High School       $615-645
Name: Budget(Per Student), dtype: category
Categories (4, object): [<$585 < $585-615 < $615-645 < $645-675]

In [70]:
#append bins
Spending["Spending Ranges (Per Student)"] = pd.cut(Spending["Budget(Per Student)"], hp_bins, labels=hp_labels)

In [71]:
# Scores by School Spending
grouped_b_df = Spending.groupby("Spending Ranges (Per Student)")
grouped_b_df["Average Reading Score", "Average Math Score", "% Passing Math", 
             "% Passing Reading", "% Overall Passing"].mean()

,Average Reading Score,Average Math Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.933814,83.455399,93.460096,96.610877,95.035486
$585-615,83.885211,83.599686,94.230858,95.900287,95.065572
$615-645,81.891436,79.079225,75.668212,86.106569,80.887391
$645-675,81.027843,76.997210,66.164813,81.133951,73.649382

# Scores by School Size

In [72]:
# Create bins and bin labels for the School Size column

hp_bins = [0,1000, 2000, 5000]
hp_labels = ["Small(<1000)", "Medium(1000-2000)", "Large(2000-5000)"]
pd.cut(Spending["School Size"], hp_bins, labels=hp_labels)

School Name
Huang High School         Large(2000-5000)
Figueroa High School      Large(2000-5000)
Shelton High School      Medium(1000-2000)
Hernandez High School     Large(2000-5000)
Griffin High School      Medium(1000-2000)
Wilson High School        Large(2000-5000)
Cabrera High School      Medium(1000-2000)
Bailey High School        Large(2000-5000)
Holden High School            Small(<1000)
Pena High School              Small(<1000)
Wright High School       Medium(1000-2000)
Rodriguez High School     Large(2000-5000)
Johnson High School       Large(2000-5000)
Ford High School          Large(2000-5000)
Thomas High School       Medium(1000-2000)
Name: School Size, dtype: category
Categories (3, object): [Small(<1000) < Medium(1000-2000) < Large(2000-5000)]

In [73]:
#append bins
Spending["School Size"] = pd.cut(Spending["School Size"], hp_bins, labels=hp_labels)

In [74]:
#Scores by School Size
grouped_s1_Spending_df = Spending.groupby("School Size")
grouped_s1_Spending_df[["Average Reading Score", "Average Math Score", "% Passing Math", "% Passing Reading",
                        "% Overall Passing" ]].mean()

,Average Reading Score,Average Math Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small(<1000),83.929843,83.821598,93.550225,96.099437,94.824831
Medium(1000-2000),83.864438,83.374684,93.599695,96.790680,95.195187
Large(2000-5000),81.344493,77.746417,69.963361,82.766634,76.364998

# Scores by School Type

In [75]:
#Scores by School Type
grouped_s2_Spending_df = Spending.groupby("School Type")
grouped_s2_Spending_df[["Average Reading Score", "Average Math Score", "% Passing Math", "% Passing Reading",
                        "% Overall Passing" ]].mean()

,Average Reading Score,Average Math Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.896421,83.473852,93.620830,96.586489,95.103660
District,80.966636,76.956733,66.548453,80.799062,73.673757

# END